{% extends 'base.html.twig' %}
{% block title 'Se connecter' %}
{% block body %}
<div class="container mt-4">
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messagekey | trans(error.messagedata,'security') }}
        </div>
    {% endif %}
        <form action="{{path ('login') }}" method="post" >  
        
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" class="form-control" id="username" name="_username"  value="{{last_username}}"></input>
            </div>

             <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="text" class="form-control" id="password" name="_password"></input>
            </div>
            <button type="submit" class="btn btn-primary">Se Connecter</button>
        
        </form>
   
</div>


{% endblock  %}