{% extends 'base.html.twig' %}
{% block title 'Agence RK' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Agence RK</h1>
    <p>Lorem ipsm test from symfony 5</p>
</div>
<div class="container">
    <h2>Les derniers biens</h2>
    <div class="row flex">
    {% for property in properties %}
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{path('property.show',{id: property.id, slug:property.slug})}}"> {{property.title}}</a>
                    </h5>
                    <p class="card-text">{{property.city}} ({{property.postalCode}})</p>
                    <div class="text-primary" style="font-size:2rem;font-weight:bold">{{property.price | number_format(0,'',' ')}} €</div>
                </div>
            </div>
        </div>
    {% endfor  %}

    </div>
</div>

{% endblock  %}