{% extends 'base.html.twig' %}
{% block title 'Gerer les biens' %}

{% block body %}

<div class="container mt-4">
    <h1>Gerer les biens</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
        {{message}}
        </div>
    {% endfor  %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for property in properties %}
                <tr>
                    <td>{{property.title}}</td>
                    <td>
                        <a href="{{path ('admin.property.edit', {id:property.id}) }}" class="btn btn-secondary">Editer</a>
                        <form onsubmit="return confirm('Vous confirmez la suppression ?')"   method="post" action="{{path ('admin.property.delete', {id:property.id}) }}" style="display:inline-block">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{csrf_token('delete')}}">
                                <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor  %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{path ('admin.property.new') }}" class="btn btn-secondary">Créer un nouveau Bien</a>
        </div>
</div>

{% endblock  %}