{% extends 'base.html.twig' %}
{% block body %}
<div class="container mt-4">
    <h1>Créer le bien</h1>
    {{ form_start(form)}}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Enregister</button>
    {{ form_end(form) }}
    





    <div  class="row">
        <div class="col-md-8"></div>  
        <div class="col-md-4">
            
        </div>  
    </div>
</div>


{% endblock  %}